.header {
    text-align: center;

    .myimg {

        position: relative;

        &::after {
            position: absolute;
            z-index: -1;
            width: 94%;
            height: calc(100% - 130px);
            content: "";
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            background: linear-gradient(145deg, #656674, #363746);
            box-shadow: 10px 10px 19px #a2abbd4f, -10px -10px 19px #ffffff1f;
            border-radius: 13px;
        }

        .myphoto {}
    }


    .about-wrapper {
        padding: 93px 2rem 0;

        p.iam {
            text-align: start;
            font-family: "Poppins";
            margin: 0;
            font-size: 26px;
            font-weight: 200;
            color: #cfb0b0;
            margin-bottom: 10px;
        }

        .my-name {
            font-weight: 900;

            color: $orang !important;
            text-align: center;
            font-family: 'Poppins';
            font-size: 78px;
            line-height: 80%;

            &.lastname {
                text-align: end;
                text-shadow: -1px -1px 0 #ffb324, 1px -1px 0 #ffb324, -1px 1px 0 #ffb324, 1px 1px 0 #ffb324;
                color: #525367 !important;

                &::first-letter {
                    color: $orang;
                    text-shadow: none;
                }
            }

            &.firstname {
                text-align: start;

                .wborder {
                    display: inline;
                    font-size: inherit;
                    font-weight: inherit;
                    color: #525367 !important;
                    text-shadow: -1px -1px 0 #ffb324, 1px -1px 0 #ffb324, -1px 1px 0 #ffb324, 1px 1px 0 #ffb324;
                }
            }

            span {
                font-weight: 200;
                font-size: 28px;
                display: block;
                color: #a79292;
            }
        }

        .intersse {
            font-weight: 300;
            margin: 0;
            font-size: 16px;
            text-align: start;
            padding-left: 30px;
            color: #cfb5b5;
            font-style: italic;
            font-family: $font_text;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                height: 1px;
                width: 22px;
                bottom: 13px;
                background: #cfb5b5;
            }
        }

        .about {
            color: #f0eaea;
            text-align: start;
            font-size: 17px;
            margin: 15px 0;
            font-family: $font_text;
            font-weight: 300;
        }

        .links {
            text-align: start;

            .nav-link {
                display: inline-block;
                font-size: 23px;
                margin-right: 14px;
                width: 32px;
                line-height: 35px;
                height: 32px;


                &.github:hover {
                    color: #1F2328;
                }

                &.email:hover {
                    color: #4FAAFF;
                }

                &.linkedin:hover {
                    color: #0A66C2;
                }


            }
        }
    }
}