.techlist {
    margin-top: 30px;
    .techitem {
        text-align: center;

        .techlogo {
            margin-bottom: 3px;
            height: 80px;
            img {
                width: 70px;
            }
        }

        .techlabel {
            font-size: 16px;
        }
    }
}